---
import MainLayout from '../../layouts/MainLayout.astro';
import { getCollection } from 'astro:content';
import '../../styles/sample-cards.css';
const uiSamples = await getCollection("cssSamples");
const desc:string = "Samples shared, showcase lesser known and modern CSS patterns. The goal in these examples is not to create simple code everyone can understand. It's to provide robust patterns that work really well using modern methods."
     
---
<MainLayout title="CSS Samples" desc={desc}>
  <section class="sample-holder">
    
        {uiSamples.map((cssSamples) => (
          <div class="card">
            <h3>{cssSamples.data.title}</h3>
            <p>{cssSamples.data.desc}</p> 
             <a href={"/css-samples/"+cssSamples.slug} aria-label={cssSamples.data.title}> Learn more </a>
          </div>
        ))}
  
  </section>
      <p><strong>Coming soon:</strong></p>
      <ul>
        <li>has()</li>
        <li>un-bamanced vs balenced text</li>
        <li>pretty balancing</li>
        <li>container queries</li>
        <li>color-mix</li>
        <li>Layers</li>
        <li>Trig functions</li>
        <li>Subgrid</li>
      </ul>

</MainLayout>
<script>
