---
import MainLayout from '../../layouts/MainLayout.astro';
import { getCollection } from 'astro:content';

const uiSamples = await getCollection("cssSamples");

---
<MainLayout title="CSS Samples">
    <ul>
        {uiSamples.map((cssSamples) => (
            <li><a href={"/css-samples/"+cssSamples.slug}> {cssSamples.data.title} </a></li>
            <li> {cssSamples.data.desc}</li>
        ))}
    </ul>
    <!--Hydrates on page load -->
   <!-- <CodeEditor client:load  name="CSS">code here</CodeEditor> -->
    <!--Hydrates on when main thread is complete-->
    <!-- <CodeEditor client:idle  name="CSS1">code here</CodeEditor> -->
    <!--Hydrates when component enters the viewport -->
    <!-- <CodeEditor client:visible  name="CSS3">code here</CodeEditor> -->
    <!-- <CodeEditor client:only="react"  name="CSS3">code here</CodeEditor> -->
    <p>
        CSS samples description here.
      </p>
<br/><br/>
</MainLayout>
<script>
