* {
	margin: 0;
	padding: 0;
}

body {
	font-family: 'Brooklyn', Arial, Helvetica, sans-serif;
	color: var(--color-primary);
	font-size: 1rem;
	background: #f9fafb;
	color: #111827;
	margin: 5px;
}



a {
	color: inherit;
}

@media (prefers-color-scheme: dark) {
	body {
		background: #ffffff;
		color:  var(--black);
	}
}
