
*,
*::after,
*::before {
  box-sizing: border-box;
}


body {
	font-family: 'Brooklyn', Arial, Helvetica, sans-serif;
	color: var(--color-primary);
	font-size: 1rem;
	background: #f9fafb;
	color: #111827;
	margin: 0;
}
h1{
	font-size: 2em;
}
h2{
	font-size: 1.5em;
}
ul{
	list-style:circle;
}

a {
	color: inherit;
}

@media (prefers-color-scheme: dark) {
	body {
		background: #ffffff;
		color:  var(--black);
	}
}
footer{
	clear: both;
	margin-top: 10px;
	padding: 0 10px 0 10px;
    border-top: 0.1rem solid var(--black);
}
main{
	margin: 10px;
}