

:root {
  /* 0.175, 0.885, 0.32, 1.25 */
  --accordion-bezier: 0.68, -0.55, 0.27, 1.55; /* A 'bounce' like effect */
}

#menu {
  width: 250px;
  height: 100%;
  /*  undo popover styles  */
  border: none;
  padding: 0;
  margin: 0;
  right: auto;
  background: #ffffff;
  color: #000000;
  /*  animate  */
  transition: translate 0.3s ease-out, display 0.3s ease-out allow-discrete,
    overlay 0.5s ease-out allow-discrete;
  translate: -250px 0;
  &::backdrop {
    opacity: 10;
    background: rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(1px);
    transition: opacity 0.5s;
  } 

  &:popover-open {
    translate: 0 0;

     &::backdrop {
      opacity: 1;
    } 

    @starting-style {
      translate: -250px 0;
       &::backdrop {
        opacity: 0;
      } 
    }
  }
}
.menu-btn {
  position: fixed;
  top: 15px;
  left: 15px;
  background: none;
  border: none;
  font-size:30px;
  color: #ffffff;
}
.close-btn {
  position: absolute;
  top: 1rem;
  right: 1rem;
  background: none;
  border: none;
  font-size:17px;
  font-weight: bold;
}
.sr-only:not(:focus):not(:active) {
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}
.sidebar ul{
	list-style-type: none;
	padding:3px;
}
.sidebar li{
	list-style-type: none;
    margin:10px;
}
.sidebar ul li:hover {
    color: #5e5d5d;
}

/*needs nor work */
.sidebar ul li a {
    display: block;
    text-decoration: none;
}
.sidebar ul ul {
  padding: 0;
  display: inline;
}
.sidebar ul ul li {
    float: none;
    position: relative;
    margin-right: 0px;
}
.sidebar ul ul li a {
    padding: 5px 10px;
    color: #000000;
}
.sidebar * a:hover {
	color: #000000;
}
.sidebar * ul:hover {
	color: #000000;
}
.sidebar * summary {
  cursor: pointer;
  font-weight: bold;
 
}
.sidebar * summary:hover{
  color: #3b3b3b;
}
.sidebar details{
  padding: 0;
  color: #000000;
  interpolate-size: allow-keywords; /* Required for height: auto transitions */
 
}
.sidebar details li {
  margin: 0;
  font-size: 1rem;
  color:#ffffff;
}
.sidebar details ul {
  margin: 0;
}


details::details-content {
    height: 0;
    overflow: hidden;
    transition: height 0.5s cubic-bezier(var(--accordion-bezier)), opacity 0.5s ease-in-out, content-visibility 0.5s ease allow-discrete;
    opacity: 0;
    background-color: #eeeded;
    border-radius: 5px;
    color:#ffffff;
}

details[open]::details-content {
    height: auto;
    opacity: 1;
}

