
.header_section{
    padding: 0 0px 0 0rem;
    background: #ffffff;
    margin: 0px;
    height:5em;
    position:sticky;
    top:0px;
    z-index: 1000;
    @media (max-width: 71em) {
        padding-left: 2.3em;
        height:4em;
    }
}
header{
    display: grid;
    vertical-align: middle;
}
header h1{
   color: #000000;
   margin: 20px 0 0 0px;
    vertical-align: middle;
    font-size: 2em;
    line-height: 0.6;
    @media (max-width: 71em) {
        font-size: 1.5em;
        line-height: 0.4;
        vertical-align: middle;
    }
}
header p{
    color:rgb(0, 0, 0);
    margin-top: 0px;
    margin-bottom: 5px;
    vertical-align: middle;
    font-size: 0.8em;
}
header img{
    margin-top: 10px;
}
.headerTitle{
    display: flex;
    flex-direction: column;
}

.subHeader{
    background: lightgrey;
	padding: 20px 0px 20px 0px;
	h2{
		color:  #000000;
		font-size: 2.5em;
        
	}
	p{
		color: #000000;
        line-height: 1;
	}
}
#logo{
margin: 0 0px 0 0;
grid-column-start: 9;
grid-row-start: 1;
}
