/*Min Max Clamp stuff*/
.card-holder{
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    flex-wrap: wrap;
}
  .visual {
    height: 100px;
    
   /* aspect-ratio: 16 / 9;*/
    background: var(--color-secondary);
    margin: 0.5rem auto;
    padding: 1rem;
  }
  
  .card {
    background-color: var(--medium-gray);
    padding: 1rem;
    border: 1px solid #141414;
    padding: 10px;  
    min-width: 200px;
  }
  .card ul{
    list-style-type:none;
  }
  #card1 {
    width: clamp(23ch, 20%, 46ch);    
  }
  #card2 {
    width: min(100px, 25%, 50vh, 30ch);  
  }
  #card3 {
    width: clamp(23ch, 20%, 46ch);    
  }


#card3 p {
    display: -webkit-inline-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;  
    overflow: hidden;
}
#card2 p {
    display: -webkit-inline-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;  
    overflow: hidden;
}
#card1 p {
    display: -webkit-inline-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;  
    overflow: hidden;
}

