
.header_section{
    padding: 0 0px 0 0rem;
    background: var(--dark-blue);
    margin: 0px;
    height:4em;
    
}
header{
    display: grid;
}
header h1{
   color: var(--light-blue);
   margin: 10px 0 0 0px;
    vertical-align: middle;
    font-size: 2em;
    line-height: 0.6;
}
header p{
    color:white;
    margin-top: 0px;
    margin-bottom: 5px;
   
    vertical-align: middle;
    font-size: 0.8em;
}
.headerTitle{
    display: flex;
    flex-direction: column;
}
#logo{
margin: 0 15px 0 0;
grid-column-start: 8;
grid-row-start: 1;
}
