#logo{
	width: 35px;
	height: auto;
}
.primary-nav{
	list-style-type: none;
	background: var(--color-secondary);
	color: var(--black);
	outline: 0.1rem solid var(--black);	
	margin:3px;
    margin-bottom: 1em;
}
.primary-nav ul ul {
    display: none;
}
.primary-nav ul li:hover > ul {
    display: block;
}
.primary-nav ul:after {
    content: "";
    clear: both;
    display: block;
}
.primary-nav ul li {
    position: relative;
    list-style-type: none;
	padding:3px;
    float: left;
    margin-right: 10px;
}
.primary-nav ul li:hover {
    background: var(--color-secondary);
}
.primary-nav ul li:hover a {
    color: #fff;
}
.primary-nav ul li a {
    display: block;
    text-decoration: none;
}
.primary-nav ul ul {
    background: #5f6975;
    padding: 0;
    position: absolute;
    top: 100%;
	z-index: 1000; 
}
.primary-nav ul ul li {
    float: none;
    position: relative;
    margin-right: 0px;
}
.primary-nav ul ul li a {
    padding: 5px 10px;
    color: #fff;
}
.primary-nav ul ul li a:hover {
    background: var(--color-secondary);
	color: var(--black);
}