
header{
    padding: 0 0px 0 70px;
    background: var(--dark-blue);
    margin: 0px;
    height:3.5em;

    display: flex;
    align-items: center;
    justify-content: center;
}
header h1{
   color: var(--light-blue);
    text-align:center; 
    vertical-align: middle;
    font-size: 2.2em;
}
header p{
    color:white;
    margin-top: 0px;
    margin-bottom: 5px;
    text-align:center; 
    vertical-align: middle;
    font-size: 1em;
}

#logo{
display: flex;
align-content: end;
}
