.Render-View{
    display:flex;
    width: 30%;
    justify-content: space-between;
   
}
.Render-Controls{
        width:20%;
        display: flex;
        flex-flow: column;
        display: grid;
    grid-template-columns: 1em auto;
    gap: 0.5em;
    > label{
        font-size: 1rem;
        line-height: 1.1;
    }
    > input[type="radio"] {
        /* turn off the radio UI */
        -webkit-appearance: none;
        appearance: none;
        background-color: #fff;
        margin: 0;
      } 
    > input[type="radio"]:checked+label {
        font-weight: bold;
        font-size: 1.5rem;
        color: black;
        text-decoration: underline;
    }
}
.Render{
    width:50%;
    height: 20em;
    margin-left: 10px;
    border-left: #000 solid 1px;
    display: flex;
    flex-flow: column;
    align-items:end;
    > div{
        width: 30%;
        display: grid;
        align-items: center;
        padding: 10px;
        transition: height 1s;
        > label{
            font-weight: bold;
            font-size: 1.2rem;
            margin-left: -100px;
            
        }
    }
}
.client{
    background: green;
}
.server{
    background: yellow;
}
.build{
    background: red;
}

#SSR{
    .client{
        height:20%;
    }
    .server{
        height:70%;
    }
    .build{
        height:10%;
    }
}

#CSR{
    .client{
        height:70%;
    }
    .server{
        height:20%;
    }
    .build{
        height:10%;
    }
}
#SSG{
    .client{
        height:10%;
    }
    .server{
        height:10%;
    }
    .build{
        height:80%;
    }
}
#ISR{
    .client{
        height:10%;
    }
    .server{
        height:40%;
    }
    .build{
        height:50%;
    }
}
