.sample-holder{
	display: flex;
	justify-content:center;
	flex-wrap: wrap;
	align-items: stretch;
}
.card{
	max-width: 20em;
	flex-grow: 4;
	flex-basis: auto;
	margin: 0.5em;
	
	border-radius: 15px;
	padding:10px;
	display: flex;
	flex-direction: column;
	background: var(--extra-light-blue);
	& a{
		background-color: var(--dark-blue);
		padding:5px 10px;
		color: white;
		border-radius: 10px;
		font-size:0.6rem;
		margin-top: auto;
		display: flex;
		width: fit-content;
	}
	& a:hover{
		background-color: var(--light-blue);
		color: var(--dark-blue);
	}
	& h3{
		font-size: 1.3em;
		font-family: 'Safiro', Arial, Helvetica, sans-serif;
	}
}

.card p{
	display: -webkit-inline-box;
    -webkit-box-orient: vertical;  
    overflow: hidden;
	-webkit-line-clamp: 3;
	margin-block-start: 0.3em;
	margin-block-end: 0.3em;
}
.card h3{
	margin-block-start: 0.3em;
	margin-block-end: 0.3em;
	
}