:root {
	--black: #232323;
	--color-light-grey: #c0bcbc;
	--color-light-grey-2: #706e6e;
	--color-dark-grey: #1b1b1b;
	--dark-blue: #113045;
	--light-blue: #6CEAFC;
	--extra-light-blue: #DBFAFD;
	--color-white: #eeeded;
	--color-blue: #0070d2;
	--color-green: #008827;
	--color-red: #c00;
	--color-primary: var(--color-white);
	--color-secondary: var(--color-extra-light-grey);
	--color-accent: rgb(245 158 11);
	--font-primary: euro;

	/*hamburger Variables */
	--bar-width: 35px;
	--bar-height: 3px;
	--hamburger-gap: 5px;
	--foreground: var(--dark-blue);

	--background: var(--light-blue);
	--hamburger-margin: 20px;
	--animation-timing: 200ms ease-in-out;
	--hamburger-height: calc(var(--bar-height) * 3 + var(--hamburger-gap) * 2);

}

/*@media (prefers-color-scheme: dark) {
	:root {
		--color-secondary: var(--black);
		--color-primary: var(--white);
	}
}*/

/* vietnamese */
@font-face {
	font-family: 'Space Grotesk1';
	font-style: normal;
	font-weight: 300;
	font-display: swap;
	src: url('../styles/fonts/space-grotesk/SpaceGrotesk1.woff2') format('woff2');

}



@font-face {
	font-family: 'Helvetica Light';
	font-style: normal;
	font-weight: normal;
	src: local('Helvetica Light'), url('../styles/fonts/helvetica-255/helvetica-light-587ebe5a59211.woff') format('woff');
}

body {
	margin: 0;
	/* 1 */
	line-height: inherit;
	/* 2 */
}