:root {
	--black:#232323;
	--color-light-grey:#919191;
	--color-extra-light-grey:#dddddd;
	--color-white:#eeeded;
	--color-blue: #0070d2;
    --color-green: #008827;
    --color-red: #c00;
	--color-primary: var(--color-black);
	--color-secondary:  var(--color-extra-light-grey);
	--font-primary: euro;
}
/*@media (prefers-color-scheme: dark) {
	:root {
		--color-secondary: var(--black);
		--color-primary: var(--white);
	}
}*/

@font-face {
	font-family: 'EuroStyle';
	src: url('../styles/fonts/EuroStyle\ Normal.ttf') format('truetype');
  }
@font-face {
	font-family: 'EuroStyleBold';
	src: url('../styles/fonts/EuroStileBold.ttf') format('truetype');
}
@font-face {
	font-family: 'EurostileOblique';
	src: url('../styles/fonts/EurostileOblique.ttf') format('truetype');
}
@font-face {
	font-family: 'EuroStileExtended';
	src: url('../styles/fonts/EurostileExtended.ttf') format('truetype');
}
@font-face {
	font-family: 'Brooklyn';
	src: url('../styles/fonts/brooklyn/Brooklyn\ Normal\ 1.ttf') format('truetype');
  }

  @font-face {
	font-family: 'Helvelow';
	src: url('../styles/fonts/Helvelow-Regular.woff') format('woff');
  }
body { 
	font-family: 'Brooklyn', Arial, Helvetica, sans-serif;
	color: var(--color-primary);
	font-size: 1rem;

}

a {
	color: inherit;
}
