
#card-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
.card img {
   
    border-radius: 10px;
    display: block;
    margin: 1rem auto;
    width: 200px;
    height: 150px;
    object-fit: cover;
    background-color: rgb(203, 202, 202);
    
}
.more-img {

    opacity: 0;
}
.imgOn{
 transition: opacity 1s ease-in;

}
.card {
    outline: 0.1rem solid rgb(108, 108, 108);
    display: block;
    margin: 1rem auto;
    padding: 5px;
    width: 210px;
    height: auto;
    object-fit: cover; 
  }
  .card p{
    margin: 0px;
  }