---
import MainLayout from '../../layouts/MainLayout.astro';
import { getCollection } from 'astro:content';

const uiSamples = await getCollection("uiAccelerators");

---
<MainLayout title="Design Ststems - Atoms">
    <p>
        Definition: A design system is a complete set of standards intended to manage design at scale using reusable components and patterns.
    </p>
<h3>Atoms</h3>
<ul>
    <li>Buttons</li>
    <li>Button Group</li>
    <li>Links</li>
    <li>Accordions</li>
    <li>Tabs</li>
    <li>Cards</li>
    <li>Autocomplete</li>
    <li>Avitar</li>
    <li>Breadcrumbs</li>
    <li>Input</li>
    <li>Select</li>
    <li>Checkbox</li>
    <li>Radio</li>
    <li>Switch</li>
    <li>Snackbar</li>
    <li>Step</li>
    <li>Table</li>
    <li>Toggle Button</li>
    <li>Tool Tip</li>
</ul>
</MainLayout>
<script>
            