---
import MainLayout from '../layouts/MainLayout.astro';
---
<MainLayout title="UI/UX Architectural Principles">
<main>
    <article>
        <section>
              
        </section>
    </article>
    </main>
    
</MainLayout>