---
import MainLayout from '../layouts/MainLayout.astro';
---
<MainLayout title="UI/UX Architectural Principles">
<main>
    <article>
        <section>
            <section>

                <details>
                    <summary>Reduce Critical path loading and unnecessary  script blocking.</summary>
                    Leverage async and defer load where possible 
                </details>
                <details>
                    <summary>Tree-shake bundles and eliminate loading of dead or unused code</summary>
                    Improves page load and overall UI performance.
                    Improve Caching & reduce bandwidth usage 
                </details>
                <details>
                    <summary>Defined performance budgets & adhere to them</summary>
                    Set Performance goals
                    Setup ongoing measurement & monitoring tools for reporting 
                    Establish escalation processes for performance guardrails & remediation 
                </details>
                <details>
                    <summary>Follow web API, platform best practices & leverage native web APIs when possible </summary>
                     Monitor emerging capabilities & UI best practices through MDN and W3C
                    Stay UpToDate with cross-browser support on emerging specs and XE support. (caniuse.com)
                </details>
                <details>
                    <summary>Reduce complexity, Adopt frameworks responsibly</summary>
                    Framework adoption should always be weighted against the complexities & requirements. 
                    Use frameworks only when solving complex UI/UX problems. Do not adopt frameworks without a business need. 
                    Always Leverage native browser capabilities over framework adoption. This will reduce complexity & leads to performant UI with a maintainable code base. 
                    
                </details>
                <details>
                    <summary>Follow Web Content Accessibility Guidelines (WCAG) 2.0</summary>
                    https://www.w3.org/TR/WCAG20/
                    Test UI with Screen Readers on Mac (Voice Over) and PC (NVDA)
                    Test UI Designs against for contrast ratio guidelines https://webaim.org/articles/contrast/
                    
                </details>    
                    
                </section>
        
        </section>
    </article>
    </main>
    
</MainLayout>