---
import MainLayout from '../layouts/MainLayout.astro';
---
<MainLayout title="UI/UX Architectural Principles">
    <style>


    

summary  {
  cursor: pointer;
}

summary  {
  background-color: #4d4d4d;
  color: white;
  padding: 10px;
  border-radius: 5px;
}
details[open] summary {
  border-radius: 5px 5px 0 0;
  background-color: #000000;
}
details {
  background: #e0e0e0;
  border-radius: 5px;
  margin: 0.5em;
  interpolate-size: allow-keywords; /* Required for height: auto transitions */
}

details::details-content {
    height: 0;
    overflow: hidden;
    transition: height 0.3s cubic-bezier(var(--accordion-bezier)), opacity 0.3s ease-in-out, content-visibility 0.5s ease allow-discrete;
    opacity: 0;
    color: #000000;
    padding: 0 10px 0px 10px;
}

details[open]::details-content {
    height: auto;
    opacity: 1;
}
   
   

    </style>
<section class="breakout">
    <article>
        <section>
            <section>

                <details name="accordionGroup">
                    <summary>Reduce Critical path loading and unnecessary  script blocking.</summary>
                    <p>Leverage async and defer load where possible </p>
                </details>
                <details  name="accordionGroup">
                    <summary>Tree-shake bundles and eliminate loading of dead or unused code</summary>
                    <p>
                        Improves page load and overall UI performance.
                        Improve Caching & reduce bandwidth usage 
                    </p>
                </details>
                <details name="accordionGroup">
                    <summary>Defined performance budgets & adhere to them</summary>
                    <p>
                        Set Performance goals
                        Setup ongoing measurement & monitoring tools for reporting 
                        Establish escalation processes for performance guardrails & remediation 
                    </p>
                </details>
                <details name="accordionGroup">
                    <summary>Follow web API, platform best practices & leverage native web APIs when possible </summary>
                    <p>
                        Monitor emerging capabilities & UI best practices through MDN and W3C
                        Stay UpToDate with cross-browser support on emerging specs and XE support. (caniuse.com)
                    </p> 
                </details>
                <details name="accordionGroup">
                    <summary>Reduce complexity, Adopt frameworks responsibly</summary>
                    <p>
                        Framework adoption should always be weighted against the complexities & requirements. 
                        Use frameworks only when solving complex UI/UX problems. Do not adopt frameworks without a business need. 
                        Always Leverage native browser capabilities over framework adoption. This will reduce complexity & leads to performant UI with a maintainable code base. 
                    </p>
                </details>
                <details name="accordionGroup">
                    <summary>Follow Web Content Accessibility Guidelines (WCAG) 2.0</summary>
                    <p>
                        https://www.w3.org/TR/WCAG20/
                        Test UI with Screen Readers on Mac (Voice Over) and PC (NVDA)
                        Test UI Designs against for contrast ratio guidelines https://webaim.org/articles/contrast/
                    </p>
                </details>    
     
                </section>

        </section>
    </article>
</section>
    
</MainLayout>