---
import MainLayout from '../layouts/MainLayout.astro';
import Markdown from '@astrojs/markdown-component';
---
<MainLayout title="CSS Structure">
<main>
    <article>
        <section>
                <Markdown>CSS Inheritance Tree
                
        GLOBAL 
        ├── Grid.css
        ├── Base-Variables.css ?
        ├── Spacing.css 
        └── Base-Presets.css (Header/Footer/User Agent)
            └── DESIGN SYSTEM / THEME 
                ├── DS-Colors.css
                ├── DS-Motion.css
                ├── DS-Icons.css
                ├── DS-Typography.css		
                └── DS-Atoms.css
                    |      ├── DS-Buttons
                    |      ├── DS-List
                    |      ├── DS-Accordion	
                    |      ├── DS-Loader/Progress
                    |      └── DS-Form Elements/Inputs	
                    └── PAGE
                        ├── Template-1.css
                        |   ├── Component-1.css	
                        |   └── Component-2.css
                        └── Template-2.css
                            ├── Component-1.css	
                            └── Component-2.css
                </Markdown>
        </section>
    </article>
    </main>
    
</MainLayout>