---
import MainLayout from '../layouts/MainLayout.astro';
//import Markdown from '@astrojs/markdown-component';
---
<MainLayout title="CSS Structure">
<main>
    <article>
        <section>
              
        </section>
    </article>
    </main>
    
</MainLayout>