---

import MainLayout from '../layouts/MainLayout.astro';
---

<MainLayout title="Overview">
<p>
    Performance Patterns for the Web aimes to showcase coding best practices for high performing websites.
</p>
<p>
    This repo focusses on and demonstrates performant coding patterns and UI examples needed for common frontend development solutions.
</p>
<strong>Focuss areas include:</strong>
<ul>
    <li>Simplifying Layouts</li>
    <li>Asset Loading Strategies</li>
    <li>Native UI Web Components </li>
</ul>

</MainLayout>
