---

import MainLayout from '../layouts/MainLayout.astro';
---

<MainLayout title="Overview">
<p>
    When architecting UI solutions, interface architects and engineers often opt-in to unintended complexities and code dependancies through the adoption of 3rd party libraries.  
    While this practice expidites delivary, it often has a negative impact on site performance and avoidable code bloat. 
</p>
<p>
   Leveraging modern HTML JS and CSS, architects can now avoid adopting verbose libraries and drastically reduce complexities in their solutions. 
   By showcasing interactive samples and discussing modern architectural patterns, we will help architects throttle complexities and optimize performance in the solutions they deliver. 
</p>
<p>
    Inspired by a aeronautics engineering philosophy that says <i><strong>"The best part is no part. The best process is no process. It weighs nothing."</strong></i>
    This site will embrace this philosophy and apply it to web engineering. 
</p>
<p>
    Featured samples focus on patterns commonly solved through 3rd party libraries. By showcasing these native features, engineers may be encouraged to adopt these patterns and avoid using 3rd party libraries all together. This approach can reduce code complexity, improve performance, and deliver accessible industry best practice user experiences. 
    How can you say no to that? 
</p>
<h4>Sample Code Patterns:</h4>
<ul>
    <li><a href="/ui-samples">Native UI Web Components</a></li>
    <li><a href="/css-samples">Emerging and lesser-known CSS techniques</a></li>
    <li><a href="/ui-accelerators">UI Accelerators</a></li>
</ul>
</MainLayout>
