---

import MainLayout from '../layouts/MainLayout.astro';
---

<MainLayout title="Overview">
<p>
    Inspired by a aeronautics engineering philosophy that says <i><strong>"The best part is no part. The best process is no process. It weighs nothing."</strong></i>
    This site will embrace this philosophy and apply it to web engineering. 
</p>
<p>
    The sample scripts shared, showcase lesser known and emerging native capabilities of HTML CSS & JavaScript. 
    Featured code demos, focus on patterns commonly solved through 3rd party libraries. By showcasing these native features, engineers may be encouraged to adopt these patterns and avoid adopting 3rd party libraries all together. This approach can reduce code complexity, improve performance, and deliver accessible industry best practice user experiences. 
    How can you say no to that? 
</p>
<p>
    Using a live code editor, users can view and interact with the showcased sample code (like codepen). 
    With this hands-on experience you can test the capabilities and limitation of the code showcased, then use it for your own purposes. 
</p>
<p>Note: Editors on this site use localstorage to save your edits and retain state automatically.</p>
<h3>Demo Focuss Areas:</h3>
<ul>
    <li><a href="/ui-samples">Native UI Web Components</a></li>
    <li><a href="/css-samples">Emerging and lesser-known CSS techniques</a></li>
    <li><a href="/ui-accelerators">UI Accelerators</a></li>
</ul>
</MainLayout>
