---

import MainLayout from '../layouts/MainLayout.astro';
---

<MainLayout title="Overview">
 <p>Performance Patterns for the Web aimes to showcase coding best practices for high performing websites.</p>
</MainLayout>
