---
import MainLayout from "../layouts/MainLayout.astro";
---

<MainLayout title="Overview">
    <section class="breakout">
        <div
            style="display: grid; grid-template-columns: repeat(auto-fit, minmax(30em, 1fr)); gap: 2rem; align-items: center; margin-left: calc(-1 * var(--padding-inline)); margin-right: calc(-1 * var(--padding-inline)); padding: 0 var(--padding-inline);"
        >
            <div>
                <h2>The Evolution of Web Architecture</h2>
                <p>
                    Web-based architectures have evolved significantly over the
                    last two decades. One clear trend we van observe is, browser
                    capabilities within HTML, CSS, and JavaScript have expanded,
                    and so have the responsibilities placed upon them. As a
                    result, engineers have developped and adopted countless
                    frameworks and libraries to abstract and support
                    webapplication complexity.
                </p>
                <h2>The Hidden Cost of Abstraction</h2>
                <p>
                    As reliance on these libraries grows, engineers operate
                    increasingly within abstraction layers rather than with
                    native web standards. This separation causes skill atrophy,
                    where deep knowledge of specific libraries replaces a
                    fundamental understanding of the platform. Consequently,
                    teams become dependent on these abstractions to bridge their
                    knowledge gaps, often retaining legacy libraries for
                    convenience while overlooking superior, modern native
                    capabilities.
                </p>
            </div>
            <div>
                <img src="/assets/img/native_diagram.png" style="width:100%;" />
            </div>
        </div>
        <p>
            While frameworks offer utility, their widespread adoption often
            results in over-engineered solutions that suffer from performance
            overhead and high maintenance costs. Many modern libraries are now
            redundant, as they merely replicate functionality that is
            effectively handled by the lightweight, native capabilities of the
            modern web.
        </p>
        <h2>Our Mission</h2>
        <p>
            <strong>
                The purpose of this site is to showcase lightweight solutions
                built on these modern standards. We highlight lesser-known and
                emerging capabilities in HTML, CSS, and JavaScript to provide
                low-complexity alternatives to heavy library adoption.
            </strong>
        </p>
        <p>
            We encourage engineers to adopt these native patterns and eliminate
            reliance on third-party libraries. This strategy significantly
            reduces code complexity and boosts performance, while ensuring
            accessible user experiences that align with the highest industry
            standards.
        </p>
        <br /><br />
        <h3>Benefits adopting native UI solutions over JavaScript libraries</h3>
        <ul>
            <li>
                <strong>Maintainability</strong> - Simply put, low complexity solutions
                are easier to maintain
            </li>
            <li>
                <strong>Time-to-market</strong>- With lowered complexity is your
                architecture, engineers can respond to updates & enhancements
                faster
            </li>
            <li>
                <strong>Application Performance</strong> - Native solutions leverage
                APIs the browser gives us for free. This reduces payloads shipped
                to the browser & overall hydration at the client. This pattern leads
                performance outcomes no framework can compete with.
            </li>
            <li>
                <strong>Futureproof</strong> - Native solutions have a longer shelf-life
                over frameworks.
            </li>
            <li>
                <strong>Documentation, Knowledge</strong> - Native solutions are well
                documented specifications that are easily accessed
            </li>
            <li>
                <strong>Dependency free</strong> - All native solutions are dependency
                free which reduces risks to platform stability and regression.
            </li>
        </ul>
        <p>
            Leveraging modern HTML JS & CSS, architects can appreciate these
            benefits & avoid adopting verbose libraries in their solutions. By
            showcasing interactive samples and discussing modern architectural
            patterns, this site aims to help architects throttle complexities,
            optimize the performance of your solutions and reduce dependancies.
        </p>
        <p>
            <strong>Note: </strong>
            While this site advocates to avoid using frameworks, we are not recommending
            never to use them. Frameworks have practical use-cases and should be leveraged
            when application complexities call for it. Engineers should always strive
            for the right balance between application (UI) complexity and architectural
            complexities. In other words, simple problems should have simple solutions.
            Adopt frameworks only when its complexity can be weighted evenly against
            the problem you are solving.
        </p>
    </section>
</MainLayout>
