---

import MainLayout from '../layouts/MainLayout.astro';
import '../styles/line-clamp.css';

---

<MainLayout title="Live Code POC">
 

            <div class="visual">
                <code contenteditable>
                    -webkit-line-clamp: 2;
                    width: clamp(23ch, 20%, 46ch);
                </code>
            
            </div>
        
      
                
                <code>
                -webkit-line-clamp: 2;
                width: clamp(23ch, 20%, 46ch);
                </code>
                
         
            <p contenteditable>Descriptive Text. Lorem ipsum dolor sit, amet consectetur adipisicing elit. Sed est error repellat veritatis.
                Descriptive Text. Lorem ipsum dolor sit, amet consectetur adipisicing elit. Sed est error repellat veritatis.Descriptive Text. Lorem ipsum dolor sit, amet consectetur adipisicing elit. Sed est error repellat veritatis.
            </p>

   
</MainLayout>
