---

import MainLayout from '../layouts/MainLayout.astro';
import { Code } from 'astro:components';
import '../styles/live-code.css';

import {EditorView, basicSetup} from "codemirror"
import {javascript} from "@codemirror/lang-javascript"





const blockStyles = `body {
  background-color: lightblue;
}

h1 {
  color: white;
  text-align: left;
}

p {
  font-family: verdana;
  font-size: 20px;
}
`;

---

<MainLayout title="Live Code POC">

<div id="code-editor">{blockStyles}</div>
</MainLayout>

</script>

<style>
    #code-editor {
    width: 400px;
    height: 400px;
}
</style>
<script>
import * as ace from 'brace';
import 'brace/mode/javascript';
import 'brace/mode/css';
import 'brace/theme/twilight';

const editor = ace.edit('code-editor');
editor.session.setMode('ace/mode/css');
editor.setTheme('ace/theme/twilight');

</script>