---

import MainLayout from '../layouts/MainLayout.astro';
//import '../styles/line-clamp.css';

---

<MainLayout title="Multistep React app">
    <p>Multistep React app to showcase Astro Islands and a Multisep app containing validation and progress.</p>
 <div>
       
</div>
</MainLayout>
