---

import MainLayout from '../layouts/MainLayout.astro';
---

<MainLayout title="Native UI">
 <p>Uncommon UI can be implemented as a native web components to avoid expensive custom UI.</p>
</MainLayout>
