---

import MainLayout from '../layouts/MainLayout.astro';

---

<MainLayout title="Native UI">
<section>
    <p><strong>Uncommon</strong> UI can be implemented as a native web components to avoid expensive custom UI.</p>
    <ul>
        <li>Accordions</li>
        <li>Models - dialog</li>
        <li>Progress - Meter</li>
        <li>Tool tip - Abbr</li>
        <li>Select - Datalist</li>
    </ul>
</section>
<section>
    <h3>Dialogs</h3>
        <button onclick="window.dialog.showModal();">Open dialog</button>
        <dialog id="dialog">
            <p>I'm a native dialog.</p>
            <form method="dialog">
                <button>Close</button>
            </form>
        </dialog>
</section>

<section>
    <h3>Accordions</h3>
    <details>  
        <summary>Title 1</summary> 
        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
    </details> 
     <details>  
        <summary>Title 2</summary> 
        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
    </details> 
</section>
<section>
    <h3>Progress - Meter</h3>
    <label for="file">Progress:</label>
    <progress id="file" max="100" value="70"> 70% </progress>

    <label for="fuel">Meter:</label>
    <meter id="fuel"
        min="0" max="100"
        low="33" high="66" optimum="80"
        value="50">
        at 50/100
    </meter>
</section>

<section>
<h3>Tool tip - abbr</h3>
<p><abbr title="World Health Organization">WHO</abbr> was founded in 1948.</p>
</section>

<section>
    <h3>Select</h3><!--https://developer.mozilla.org/en-US/docs/Web/HTML/Element/select-->
    <label>Choose one or more :
        <select name="pets" multiple size="4">
            <optgroup label="4-legged pets">
            <option value="dog">Dog</option>
            <option value="cat">Cat</option>
            <option value="hamster" disabled>Hamster</option>
            </optgroup>
            <optgroup label="Flying pets">
            <option value="parrot">Parrot</option>
            <option value="macaw">Macaw</option>
            <option value="albatross">Albatross</option>
            </optgroup>
        </select>
    </label>
    <label>Select one:
        <select name="choice">
        <option value="first">First Value</option>
        <option value="second" selected>Second Value</option>
        <option value="third">Third Value</option>
        </select>
    </label>

    <label for="ice-cream-choice">Choose a flavor:</label>
<input list="ice-cream-flavors" id="ice-cream-choice" name="ice-cream-choice" />

<datalist id="ice-cream-flavors">
    <option value="Chocolate">
    <option value="Coconut">
    <option value="Mint">
    <option value="Strawberry">
    <option value="Vanilla">
</datalist>
</MainLayout>
