---

import MainLayout from '../layouts/MainLayout.astro';

---

<MainLayout title="Search Results" noSearch="true">
<section class="breakout">
    <aside>
        <form class="search">
            <label for="search"></label>
            <input 
            type="search" 
            required min="2" 
            max="24" 
            name="search" 
            id="search" 
            placeholder="Enter a search term..."/>
        </form>
    </aside>
    <p id="searchReadout"></p>
    <h3 id="searchNumber"></h3>
    <section aria-label="Search Results">
        <ul id="resultsList"></ul>
    </section>
<script src="../js/search.js"></script>
</section>
</MainLayout>

<style>
    #resultsList{
        list-style: none;
        display: flex;
        flex-direction: column;
        gap:0.5em;
        a{
            color: rgb(22, 22, 70);
            text-decoration: underline;
            font-weight: bold;
            align-self: stretch;
        }
        p{
            padding: 0px;
            font-size: 0.8rem;
            display: block;
        }
        li{
            display: flex;
            flex-direction: column;
            padding: 10px;
            background: var(--extra-light-blue);
            border-radius: 5px;
        }
    }
</style>