---

import MainLayout from '../layouts/MainLayout.astro';

---

<MainLayout title="Search Results" noSearch="true">
    <aside>
        <form class="search">
            <label for="search"></label>
            <input 
            type="search" 
            required min="2" 
            max="24" 
            name="search" 
            id="search" 
            placeholder="Enter a search term..."/>
        </form>
    </aside>
<p id="searchReadout"></p>
<section aria-label="Search Results">
    <ul id="resultsList"></ul>
</section>
<script src="../js/search.js"></script>
</MainLayout>

