---
import MainLayout from '../../layouts/MainLayout.astro';
import { getCollection } from 'astro:content';

const uiSamples = await getCollection("uiSamples");

---
<MainLayout title="UI Samples">
    <p>
        Native UI Sample scripts, showcase lesser known and emerging native capabilities of HTML.
      </p>
    <ul>
        {uiSamples.map((uiSamples) => (
            <li><a href={"/ui-samples/"+uiSamples.slug}> {uiSamples.data.title} </a></li>
            <li> {uiSamples.data.desc}</li>
        ))}
    </ul>
    <br/><br/>
</MainLayout>
<script>
