---

import MainLayout from '../../layouts/MainLayout.astro';

import { getCollection } from 'astro:content';

const uiSamples = await getCollection("uiSamples")
//console.log(uiSamples);
---

<MainLayout title="MD UI Samples">


<ul>
    {uiSamples.map((uiSamples) => (
        <li><a href={"/ui-samples/"+uiSamples.slug}> {uiSamples.data.title} </a></li>
        <li> {uiSamples.data.desc}</li>
    ))}
</ul>
</MainLayout>
