---
import MainLayout from '../../layouts/MainLayout.astro';
import { getCollection } from 'astro:content';
import '../../styles/sample-cards.css';
const uiSamples = await getCollection("uiSamples");

---
<MainLayout title="UI Samples">
    <p>
    Native UI Sample scripts, showcase lesser known and emerging native capabilities of HTML.
    </p>
    <section class="sample-holder">
        {uiSamples.map((uiSamples) => (
        <div class="card">
            <h3>{uiSamples.data.title}</h3>
            <p>{uiSamples.data.desc}</p> 
             <a href={"/ui-samples/"+uiSamples.slug} aria-label={uiSamples.data.title}> Learn more </a>
          </div>
        ))}
    </section>
    <br/><br/>
</MainLayout>
<script>
