---
import '../styles/hamburger-nav.css';
import { getCollection } from 'astro:content';

const uiSamples = await getCollection("uiSamples");
const cssSamples = await getCollection("cssSamples");
const uiAccelerators = await getCollection("uiAccelerators");
---

<label class="hamburger-menu">
    <input type="checkbox" />
  </label>
  <aside class="sidebar">
    <nav>
        <ul>
            <li><a href="/">Overview</a></li>
            <li><a href="/viewport-loading">Viewport Loading</a></li>
            <li>
                <details>  
                    <summary>Native UI</summary> 
                    <ul>
                        <li><a href="/ui-samples">Overview</a></li>
                        {uiSamples.map((uiSamples) => (
                            <li><a href={"/ui-samples/"+uiSamples.slug}> {uiSamples.data.title} </a></li>
                        ))}
                    </ul>
                </details>   
            </li>
            <li>
                <details>  
                    <summary>Native CSS</summary> 
                    <ul>
                        <li><a href="/css-samples">Overview</a></li>
                        {cssSamples.map((cssSamples) => (
                            <li><a href={"/css-samples/"+cssSamples.slug}> {cssSamples.data.title} </a></li>
                        ))}
                    </ul>
                </details> 
               
            </li>
            <li>
                <details>  
                    <summary>UI Accelerators</summary> 
                    <ul>
                        <li><a href="/ui-accelerators">Overview</a></li>
                        {uiAccelerators.map((uiAccelerators) => (
                            <li><a href={"/ui-accelerators/"+uiAccelerators.slug}> {uiAccelerators.data.title} </a></li>
                        ))}
                    </ul>
                </details> 
            </li>
            <li><a href="#">Build Patterns</a> <sub>comming soon</sub></li>
            <li><a href="/CSS-Structure">CSS Hierarchy</a></li>
            <li><a href="#">Browser Render Cycle</a> <sub>comming soon</sub></li>
            <li><a href="/Render-Patterns">Render Patterns</li>
        </ul>
    </nav>
  </aside>
