---
import '../styles/nav.css';
---
<header class="breakout">
    <div class="headerTitle">
        <h1>Behind the Framework </h1>
        <p>Reduce Complexities & Improve Performance</p>
    </div>
    <div id="logo">
     <svg xmlns="http://www.w3.org/2000/svg" version="1.1" viewBox="0 0 1920 1080" fill="#6CEAFC" height="80" width="80">
       <g>
          <g id="Layer_1">
            <g>
              <path d="M769.31,454.19v-51.55l120.85-43.66v29.58l-116.34,39.72,116.34,40v29.58l-120.85-43.66Z"/>
              <path d="M983.39,304.9h35.21l-81.97,241.69h-35.21l81.97-241.69Z"/>
              <path d="M1029.87,468.28l116.34-40-116.34-39.72v-29.58l120.85,43.66v51.55l-120.85,43.66v-29.58Z"/>
            </g>
            <path d="M1448.47,328.64v81.26h-136.15V107.46h-704.6v302.45h-136.15v-81.26h-249.04v194.2h249.04v-81.26h136.15v200.7h336.47v136.15h-108.69v194.2h249.04v-194.2h-108.69v-136.15h336.47v-200.7h136.15v81.26h249.04v-194.2h-249.04ZM439.89,491.17h-185.7v-130.86h185.7v130.86ZM1052.87,940.96h-185.7v-130.86h185.7v130.86ZM639.38,139.13h641.26v70.07h-641.26v-70.07ZM1280.65,610.61h-641.26V240.87h641.26v369.74ZM1665.84,491.17h-185.7v-130.86h185.7v130.86Z"/>
          </g>
        </g>
      </svg>
    </div>
</header>

   