---
//import { Markdown } from 'astro/components';
---
<img id="logo" src="/assets/speedIcon.jpg"/>
<h1>Performance Patterns for the Web</h1>
<nav>
	<ul class="primary-nav flex">
		<li><a href="/">Overview</a></li>
		<li><a href="/CSS-Structure">CSS Structures</a></li>
		<li><a href="/viewport-loading">Viewport Loading</a></li>
		<li><a href="/native-ui">Native UI</a></li>
		<li><a href="/line-clamping">Line Clamping & truncating</a></li>
		<li><a href="#">Build Patterns</a></li>
		<li><a href="#">Link</a></li>
	</ul>
</nav>
<style>

#logo{
	width: 50px;
	height: auto;
	margin: 1rem;
}
.primary-nav{
	list-style-type: none;
	background: var(--color-secondary);
	color: var(--black);
	outline: 0.1rem solid var(--black);	
}
.primary-nav li{
	margin: 0.5em;
}
.flex{
	display: flex;
	gap: var(--gap, 1rem);
}
</style>