---
import '../styles/nav.css';
import json from '../collection/iusamples.json';

const uisamples = json.samples;
---

<h1><img id="logo" src='../assets/speedIcon.jpg'/>
	Performance Patterns for the Web</h1>
<nav class="primary-nav">
	<ul>
		<li><a href="/">Overview</a></li>
		<li><a href="/viewport-loading">Viewport Loading</a></li>
		<li><a href="/UIsamples">Native UI</a>
			<ul>
				{uisamples.map((sample) => (
					<li><a href={"/UIsamples/"+sample.title}> {sample.title} </a></li>
				))}
			</ul>
		</li>
		<li><a href="/line-clamping">Line Clamping & truncating</a></li>
		<li><a href="/live-code">Live-Code</a></li>
		<li><a href="#">Build Patterns</a></li>
	</ul>
</nav>
