---
import '../styles/nav.css';
//import json from '../collection/iusamples.json';


import { getCollection } from 'astro:content';

const uiSamples = await getCollection("uiSamples");


---

<h1><img id="logo" src='../assets/speedIcon.jpg'/>
	Performant Patterns for the Web</h1>
