---
import MainLayout from '../../layouts/MainLayout.astro';
import { getCollection } from 'astro:content';
import '../../styles/sample-cards.css';
const uiSamples = await getCollection("nativeHTML");
const desc:string = "Showcase of lesser known native UI solutions."
 
---
<MainLayout title="Native HTML" desc={desc}>
<section class="breakout">
    <section class="sample-holder">
        {uiSamples.map((uiSamples) => (
        <div class="card">
            <h3>{uiSamples.data.title}</h3>
            <p>{uiSamples.data.desc}</p> 
             <a href={"/native-html/"+uiSamples.slug} aria-label={uiSamples.data.title}> Learn more </a>
          </div>
        ))}
    </section>
</section>
</MainLayout>

