---
import MainLayout from '../../layouts/MainLayout.astro';
import { getCollection } from 'astro:content';
import '../../styles/sample-cards.css';
const uiSamples = await getCollection("uiPlayground");
const desc = "Playground for fun and interesting code. "
---
<MainLayout title="UI Playground" desc={desc}>
  
    <section class="sample-holder">
        {uiSamples.map((uiSamples) => (
        <div class="card">
            <h3>{uiSamples.data.title}</h3>
            <p>{uiSamples.data.desc}</p> 
             <a href={"/ui-playground/"+uiSamples.slug} aria-label={uiSamples.data.title}> Learn more </a>
          </div>
        ))}
    </section>
</MainLayout>
<script>
