---
import MainLayout from "./MainLayout.astro";
const { frontmatter } = Astro.props;
---
<MainLayout pageTitle={frontmatter.title}>
  <div class="subHeader"><p><em>{frontmatter.desc}</em></p></div>
  <slot />
</MainLayout>